<div class = "page-header">
  <h2> Definitons </h2>
<div>

<h3> New Definition </h3>
  <form action="/definition_form" method="post">
  <input id='definition_id' name='definition_id' type='hidden'>
    <div class="form-group">
      <input id="user_definition" name="user_definition" class="form-control" type="text" placeholder="Definition" required>
    </div>
    <button type="submit" class="btn btn-success">Add</button>
  </form>
<br>
<a href="/"><button type='button' class="btn btn-info">Home</button></a>

<h3> Saved Definitions </h3>
  <ul>
  
  </ul>
