<div class = "page-header">
  <h2> Definitions </h2>
</div>

<h3> New Definition for <%= @word.word %> </h3>
    <form action="/definition_form" method="post">
    <input id='definition_id' name='definition_id' type='hidden'>
      <div class="form-group">
        <input id="user_definition" name="user_definition" class="form-control" type="text" placeholder="Definition" required>
      </div>
      <button type="submit" class="btn btn-success">Add</button>
    </form>
  <br>
  <a href="/"><button type='button' class="btn btn-info">Home</button></a>

<h3> Saved Definitions  </h3>
  <ul>
    <% @word.definitions.each do |definition| %>
    <li><%= definition.define %></li>
    <% end %>
  </ul>
