<h2> <%= @word.word_title %></h2>
<hr>

<ul>
  <% @word.definitions.each do |definition| %>
    <p>Definition:</p>
      <li><%= definition.definition %>
    <p>Part of speech:</p>
      <li><%= definition.pOs %></li>
  </li>
  <% end %>
<br>
</ul>
<a href="/dictionary/<%= @word.id %>/new_definition"><button class="btn btn-success">Add Definition</button></a>
<a href="/index"><button class="btn btn-primary">Home</button></a>
