<h2>Definition(s)</h2>
<hr>
  <ul>
    <% @definition.each do |definition| %>
      <li><em><%= definition.user_pOs %></em> : <%= definition.user_definition %></li>
    <% end %>
  </ul>

<h2> Add Definition </h2>
<hr>
<form class="form-group"action="/definition_form" method = 'post'>
  <label for="new_definition">Definition</label>
    <input id="new_definition" name="new_definition" class="form-control" type="text" placeholder="Definition" required>
  <label for="new_pOs">Part of Speech</label>
    <input id="new_pOs" name="new_pOs" class="form-control" type="text" placeholder="Noun, Verb, Adj, etc.">
<br>
<button type="submit" class="btn btn-primary">Add</button>
</form>

<a class="btn btn-success" id="home" href="/">Home</a>
