<h4>Definition(s)</h4>
  <ul>
    <% @definition.each do |definition| %>
      <li><em><%= definition.user_pOs %></em> : <%= definition.user_definition %></li>
    <% end %>
  </ul>

<a class="btn btn-primary" href= "/definition_form">Add New Definition</a>
<a class="btn btn-success" id="home" href="/">View</a>
