<h2> Add Definiton for <%= @word.id %> </h2>

<form action="/definition" method = 'post'>
  <input type = 'hidden' id = 'id' name = 'id' value = '<%= @word.id %>'>

  <div class="form-group">
    <label for="definition">Definition</label>
      <input id="definiton" name="definition" class="form-control" type="text">
  </div>

  <div class="radio-inline">
    <input id="noun" type="radio" name="pOs" value="noun" checked>
      <label for = "noun">Noun</label>
  </div>
  <div class="radio-inline">
    <input id="verb" type="radio" name="pOs" value="verb" checked>
      <label for = "verb">Verb</label>
  </div>
  <div class="radio-inline">
    <input id="adverb" type="radio" name="pOs" value="adverb" checked>
      <label for = "adverb">Adverb</label>
  </div>
  <div class="radio-inline">
    <input id="adj" type="radio" name="pOs" value="adj" checked>
      <label for = "adj">Adjective</label>
  </div>

  <button type="submit" class="btn btn-success">Submit</button>
</form>
