<h2> <%= @words.word %> </h2>
<hr>

<h3>Definition</h3>
  <ul>
    <% @words.definitions.each do |definition| %>
      <li><%= definition.define %></li>
    <% end %>
  </ul>


<br>
<a href="/"><button class="btn btn-primary">Home</button></a>
