<h2> Definiton for <%= @word.id %> </h2>
<hr>

<form action="/definition_form" method = 'post'>
  <input type = 'hidden' id = 'id' name = 'id' value = '<%= @word.id %>'>

  <div class="form-group">
    <label for="user_definition">Definition</label>
      <input id="user_definiton" name="user_definition" class="form-control" type="text" placeholder="Definition">
  </div>

  <div class="form-group">
    <label for="pOs">Part of Speech</label>
    <input id="pOs" name="pOs" class="form-control" type="text" placeholder="Noun, Verb, Adj, etc.">
  </div>

  <button type="submit" class="btn btn-success">Add</button>
</form>
<a href="/index"><button class="btn btn-primary">Home</button></a>
