<h2> New Entry </h2>
<hr>

<form class="form-group" action="/word_form" method="post">
  <label for="user_word">Word</label>
  <input id="user_word" name="user_word" class="form-control" type="text" placeholder="Word" required>
  <label for="user_definition">Definition</label>
  <input id="user_definiton" name="user_definition" class="form-control" type="text" placeholder="Definition" required>
  <label for="user_pOs">Part of Speech</label>
  <input id="user_pOs" name="user_pOs" class="form-control" type="text" placeholder="Noun, Verb, Adj, etc.">
  <br>
  <button type = "submit" class="btn btn-primary">Add</button>
</form>

<h2> Saved Words </h2>
<hr>
<h4>Select a word to view definition</h4>
  <ul>
    <% @words.each() do |word| %>
      <li><a href="/definition/:id"<%= word.id %>"><%= word.word %></a></li>
    <% end %>
  </ul>
