<div class = "page-header">
  <h2> Home </h2>
</div>

<h3> New Word </h3>
<form class="form-group" action="/word_form" method="post">
  <label for="user_word">Word</label>
  <input id="user_word" name="user_word" class="form-control" type="text" placeholder="Word" required>
  <br>
  <label for="user_pOs">Part of Speech</label>
  <input id="user_pOs" name="user_pOs" class="form-control" type="text" placeholder="Noun, Verb, Adj, etc.">
  <br>
  <button type = "submit" class="btn btn-success">Add</button>
</form>

<h3> Saved Words </h3>
  <ul>
    <% @words.each do |word| %>
    <li><a href="/definition/<%= word.word %>"><%= word.word %></a></li>
    <% end %>
  </ul>
