<h2> Saved Words </h2>
<hr>
  <ul>
    <% @words.each() do |word| %>
      <li> <a href="/definition/<%=word.word %>"><%= word.word %></a></li>
    <% end %>
  </ul>

<a href="/word_form/new"><button class="btn btn-success">Add Word</button></a>
