<h2> Saved Words </h2>
<hr>
<h4>Select a word to add a definition</h4>
  <ul>
    <% @word_array.each() do |word| %>
      <li><a href="/definition_form/new<%= definition.id %>"><%= word.word %></a></li>
    <% end %>
  </ul>

<a href="/word_form/new"><button class="btn btn-success">Add Word</button></a>
