
<div class = "page-header">
  <h2> Home </h2>
</div>

<h3> New Word </h3>
<form class="form-group" action="/word_form" method="post">
  <label for="user_word">Word</label>
  <input id="user_word" name="user_word" class="form-control" type="text" placeholder="Word" required>
  <br>
  <button type = "submit" class="btn btn-success">Add</button>
</form>
