<h2> Add New Word </h2
<hr>
<form action="/word_form" method="post">
  <div class="form-group">
    <label for="new_word">Word</label>
    <input id="new_word" name="new_word" class="form-control" type="text" placeholder="Word" required>
  </div>
  <button type="submit" class="btn btn-success">Submit</button>
</form>
