<h2> Add New Word </h2
<hr>
<form action="/word_form" method="post">
  <div class="form-group">
    <label for="user_word">Word</label>
    <input id="user_word" name="user_word" class="form-control" type="text" placeholder="Word" required>
  </div>
  <button type="submit" class="btn btn-success">Add</button>
</form>
<br>
<a href="/index"><button class="btn btn-primary">Home</button></a>
